html{
	font-family:'Geo', Courier;
	margin:0;
	padding:0;
}

body{
	display:flex;
	flex-direction: column;
	position:relative;
	justify-content: center;
	align-items:center;
	background:#333333;
	margin:0;
	width:100%;
}

#body_index{
	justify-content: space-between;
}

#main_index{
	position:relative;
	display:flex;
	flex-direction: row-reverse;
	width:100%;
	flex-wrap:wrap;
	justify-content: space-between;
	text-align:center;
	font-family:'Comic sans MS', Courier;
}

#banner_index img{
	width:100%;
	height:20vh;
	object-fit:cover;
	object-position: 0 20%;
}

#profile_avatar{
	height:auto;
}

#profile_avatar img{
	width:50%;
	border:6px solid;
	border-image:linear-gradient(90deg, rgba(98,255,92,1) 0%, rgba(255,14,14,1) 25%, rgba(53,39,255,1) 75%, rgba(229,140,250,1) 100%);
	border-image-slice:1;
}

#index_nologin{
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content: center;
	text-align:center;
	background:black;
	color:white;
	padding:2%;
}

#block_index{
	width:80%;
	min-width:250px;
	flex-grow:1.6;
	background:white;
	font-family:'Comic Sans Ms', Courier;
}

#block_index h3{
	animation:rotation-color 3s linear infinite;
	font-size:2em;
}

#profile_box{
	width:20%;
	min-width:200px;
	flex-grow:1;
	background:pink;
}

.article_index h2{
	animation:pireanim 2s linear infinite;
	font-size:3em;
}

a{
	color:#FF0000;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

#fakelink{
	color:#FF0000;
	cursor:not-allowed;
}

#form, .mess_connexion, #profile_changes, #admin_profile{
	position:relative;
	background:black;
	color:white;
	width:calc(30vw);
	height:auto;
	text-align:center;
}

#form form, #profile_changes form{
	display:flex;
	justify-content: center;
	text-align:center;
	flex-direction:column;
	width:100%;
}

#form label, #profile_changes label{
	padding:2% 10% 2% 10%;
	font-size:1em;
}

#form input, #profile_changes input{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

#submitbutton{
	font-family:'Geo', Courier;
	margin-top:5%;
	margin-bottom:5%;
	width:72%;
	background:#FF0000;
	color:white;
	border:none;
	padding:1% 0 1% 0;
}

#disconnect_button{
	background:#FF00CC;
	border:none;
	border-radius:5%;
	font-family:'Comic sans MS', Courier;
	color:white;
	padding:1% 3% 1% 3%;
}

#back2index{
	font-size:1.3em;
}

#admin_profile img{
	padding:5% 0 2% 0;
	width:80%;
}

.strong_text{
	font-size:1.5em;
}

#admin_forms{
	display:flex;
	position:relative;
	background:black;
	color:white;
	width:70%;
	justify-content: center;
}

#admin_forms form{
	padding:2% 1% 2% 1%;
	position:relative;
	width:100%;
	text-align:center;
}

.submit_admin{
	background:red;
	border:none;
	font-family:'Geo', Courier;
	padding:0.2% 2% 0.2% 2%;
	vertical-align: bottom;
}

#inscription_if{
	display:flex;
	justify-content: center;
	align-content:center;
	text-align:center;
	background:black;
	color:white;
	padding:1% 3% 1% 3%;
}

@media(width<500px){
	#form, .mess_connexion, #profile_changes, #admin_profile{
		width:100%;
	}
}

@keyframes rotation-color{
	0%{transform:rotate(0);color:red;}
	50%{color:blue;}
	100%{transform:rotate(360deg);color:yellow;}
}

@keyframes pireanim{
	0%{color:purple;letter-spacing:0px;font-size:3em;}
	50%{color:orange;letter-spacing:10px;font-size:2em;}
	100%{color:green;letter-spacing:0px;font-size:3em;}
}